doctype
html
  head
    link(rel="stylesheet" href="/stylesheets/main.css")
    meta(name="generated-at" content=new Date().toISOString())
    meta(name="generator" content="Harp.js http://harpjs.com/")
  body
    != yield