h1 Welcome to the IEEE-CS @ UWM members site!

p 
| Content on this website reflects the views of IEEE-CS @ UWM
| members. Content on this site does not reflect the views of IEEE-CS @
| UWM, nor University of Wisconsin-Milwaukee, nor IEEE-CS.

p Source code for this website 
  a(href='https://gitlab.com/uwmcomputersociety/website/members.uwmcomputer.club')
    | is available on GitLab
  | .
  
p See also, the site's 
  a(href="README") README
  | .

hr
  
h2 Members pages

ul
each user in public._data.users
  li: a(href="./#{ user.directory }")= user.name

hr

p 
  a(href="floppybird/") Play floppybird
  | . Courtesy of GitHub user 
  a(href="https://github.com/nebez") nebez
  | . Apache 2.0. See its 
  a(href="floppybird/README") README
  | .

p
  a(href='https://uwmcomputer.club') IEEE-CS @ UWM's main website
