<!-- weeeee  -->

<h1>Users (<a href="https://ejs.co/">ejs</a> example)</h1>

<% function user(user) { %>
  <li><strong><%= user.name %></strong> is a <%= user.age %> year old <%= user.species %>.</li>
<% } %>

This is rendered when the site is generated&hellip;

<ul>
  <% [{name: 'Tobi', age: 2, species: 'ferret'},
      {name: 'Loki', age: 2, species: 'ferret'},
      {name: 'Jane', age: 6, species: 'ferret'}].map(user) %>
</ul>

<a href="https://github.com/tj/ejs/tree/master/examples">Source</a> (functions.* files)